flows.json
[
    {
        "id": "f61bd11993a4568c",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2b0b36c76e84ba8",
        "type": "tab",
        "label": "Ibisa Fleet Provisioning",
        "disabled": false
    },
    {
        "id": "e5dc152390c72882",
        "type": "tab",
        "label": "Guardar datos en buffer",
        "disabled": false,
        "info": "Manejo de buffer offline → envío al reconectar",
        "env": []
    },
    {
        "id": "212dea675703e5fc",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a85404937e6685c7",
        "type": "tls-config",
        "name": "IoT-Core",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "b91a13606a3b304fd309296269241e94d631c72c6a71ebd72ca8d1e9fc6b7208-certificate.pem.crt",
        "keyname": "b91a13606a3b304fd309296269241e94d631c72c6a71ebd72ca8d1e9fc6b7208-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "awbagdz13ax6c-ats.iot.us-east-1.amazonaws.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "c6e2e1bb1f826bb5",
        "type": "mqtt-broker",
        "name": "otroCliente",
        "broker": "awbagdz13ax6c-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "a85404937e6685c7",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2638a7a8514a2639",
        "type": "mqtt-broker",
        "name": "IoTCore",
        "broker": "awbagdz13ax6c-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "a85404937e6685c7",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "26d244d580d66db9",
        "type": "tls-config",
        "name": "tls",
        "cert": "/home/pi/certificados/certificado.pem.crt",
        "key": "/home/pi/certificados/llave.pem.key",
        "ca": "/home/pi/certificados/AmazonRootCA1.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9c59a3fef7016c4f",
        "type": "mqtt-broker",
        "name": "newboker",
        "broker": "awbagdz13ax6c-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "26d244d580d66db9",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9917a1879cf30902",
        "type": "tls-config",
        "name": "Cerificados dispositivo",
        "cert": "/home/pi/certificados/device.pem.crt",
        "key": "/home/pi/certificados/device.private.key",
        "ca": "/home/pi/certificados/AmazonRootCA1.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "298b7e953ed62ce1",
        "type": "mqtt-broker",
        "name": "Servidor MQTT",
        "broker": "awbagdz13ax6c-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "9917a1879cf30902",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": "10",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d3321a7a56f7458",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#101f46",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#101f46",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#101f46",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1e3b84",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#101f46",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2ba7f282d3260184",
        "type": "ui_tab",
        "name": "Dispositivo",
        "icon": "devices",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88cb225e539425fa",
        "type": "ui_tab",
        "name": "Gateway",
        "icon": "devices",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f824c79760f0da8f",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "devices",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91d4ba4b76086bb9",
        "type": "ui_tab",
        "name": "Cloud (AWS)",
        "icon": "devices",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e2969aeaf0492d7",
        "type": "ui_tab",
        "name": "Estado",
        "icon": "devices",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d34869834f61252f",
        "type": "ui_tab",
        "name": "Gateway - Modbus TCP",
        "icon": "device",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d442871653f24632",
        "type": "ui_tab",
        "name": "Gateway - Modbus RTU",
        "icon": "device",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "gateway_tab_id",
        "type": "ui_tab",
        "name": "NanoFreeze",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b7d2a20cfe6d91f0",
        "type": "ui_group",
        "name": "Identificacion",
        "tab": "2ba7f282d3260184",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f3ce64d958f0d56",
        "type": "ui_group",
        "name": "Gateway - Parametros",
        "tab": "2ba7f282d3260184",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d9a9403e2e6bc79",
        "type": "ui_group",
        "name": "ESP32 - Parametros",
        "tab": "2ba7f282d3260184",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85aa25792d04d3d0",
        "type": "ui_group",
        "name": "NF",
        "tab": "2ba7f282d3260184",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "444a3086794e3cff",
        "type": "ui_group",
        "name": "Identificacion",
        "tab": "88cb225e539425fa",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bf4102973afd724",
        "type": "ui_group",
        "name": "Modbus RTU",
        "tab": "88cb225e539425fa",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0eb5894b069cbd35",
        "type": "ui_group",
        "name": "Modbus TCP",
        "tab": "88cb225e539425fa",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0603ded8bd9beed9",
        "type": "ui_group",
        "name": "Identificacion",
        "tab": "f824c79760f0da8f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbefccbdd8399de5",
        "type": "ui_group",
        "name": "Red (WiFi / Ethernet)",
        "tab": "f824c79760f0da8f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ddb3780d191e07f",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "f824c79760f0da8f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "528b2ba484c9c1bc",
        "type": "ui_group",
        "name": "Intervalo de envío",
        "tab": "f824c79760f0da8f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff520189b286d92a",
        "type": "ui_group",
        "name": "Endpoint",
        "tab": "91d4ba4b76086bb9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "255befeeeee6492e",
        "type": "ui_group",
        "name": "Región",
        "tab": "91d4ba4b76086bb9",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de6d29e55290262d",
        "type": "ui_group",
        "name": "Thing Name",
        "tab": "91d4ba4b76086bb9",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a0ef9aed67fab85",
        "type": "ui_group",
        "name": "Certificados",
        "tab": "91d4ba4b76086bb9",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "40dc4781144af8dd",
        "type": "ui_group",
        "name": "Estado MQTT",
        "tab": "9e2969aeaf0492d7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a85631b4c8b854d7",
        "type": "ui_group",
        "name": "Estado AWS",
        "tab": "9e2969aeaf0492d7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc4857fd74cfb911",
        "type": "ui_group",
        "name": "Última comunicación",
        "tab": "9e2969aeaf0492d7",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e1a890ea441b84f",
        "type": "ui_group",
        "name": "Botones de control",
        "tab": "9e2969aeaf0492d7",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8dabf8b5895a29b1",
        "type": "ui_group",
        "name": "Prueba",
        "tab": "88cb225e539425fa",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9941b2aaa96055a",
        "type": "ui_group",
        "name": "Prueba",
        "tab": "f824c79760f0da8f",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c63c20f7f67dfa37",
        "type": "ui_group",
        "name": "NF",
        "tab": "9e2969aeaf0492d7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab6c6fea7303e677",
        "type": "ui_group",
        "name": "Modbus (selector)",
        "tab": "88cb225e539425fa",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1630e653ef220101",
        "type": "ui_group",
        "name": "Modbus",
        "tab": "d34869834f61252f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26b97602a5bf094d",
        "type": "ui_group",
        "name": "Modbus",
        "tab": "d442871653f24632",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "identificacion_group_id",
        "type": "ui_group",
        "name": "Información",
        "tab": "gateway_tab_id",
        "order": 3,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "capacidades_group_id",
        "type": "ui_group",
        "name": "Datos",
        "tab": "gateway_tab_id",
        "order": 6,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "datos_group_id",
        "type": "ui_group",
        "name": "Funciones",
        "tab": "gateway_tab_id",
        "order": 5,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "modbus_config_group_id",
        "type": "ui_group",
        "name": "Modbus",
        "tab": "gateway_tab_id",
        "order": 4,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dee1869cf73040de",
        "type": "ui_group",
        "name": "Configuraciones",
        "tab": "gateway_tab_id",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "016de6dc82a05fe5",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "gateway_tab_id",
        "order": 2,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "087e7e9c034c1866",
        "type": "modbus-client",
        "name": "Sensor DYN-200",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d400eea7c3ae3f5a",
        "type": "modbus-client",
        "name": "Anemometro",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "074ff40e03100e43",
        "type": "modbus-client",
        "name": "Sensor de vibraciones",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "269659490639847f",
        "type": "modbus-client",
        "name": "Gateway",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "",
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "e49a1121dd1bbc8c",
        "type": "sqlitedb",
        "db": "/home/pi/Sensores_DB/buffer.db",
        "mode": "RWC"
    },
    {
        "id": "1534001d1511dfb8",
        "type": "MySQLdatabase",
        "name": "DB_NANO_FREEZE",
        "host": "nanofreeze-db.ch6wyqwi8624.us-east-2.rds.amazonaws.com",
        "port": "3306",
        "db": "tables_nano_freeze",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a901c62f3c12845b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Sensores",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "ebbce0624dd7d08a",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Verify ID Device",
        "func": "// Obtener el device_code ingresado\nlet deviceCode = msg.payload.trim();\n\nif (!deviceCode) {\n    node.status({fill: \"red\", shape: \"ring\", text: \"ID vacío\"});\n    return [null, null];  // No envía nada\n}\n\n// Consulta SQL\nmsg.topic = `\n    SELECT name, status, energy_capability, temperature_capability \n    FROM device \n    WHERE device_code = ?\n`;\n\nmsg.payload = [deviceCode];  // Parámetro seguro contra inyección SQL\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "10811cce8b61300f"
            ]
        ]
    },
    {
        "id": "0c6b28a448ad8d46",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Save Capabilities",
        "func": "flow.set(msg.topic, msg.payload === 'true');\n// Trigger update to datos\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "2a8d0e91d5c4b958"
            ]
        ]
    },
    {
        "id": "2a8d0e91d5c4b958",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Update Datos",
        "func": "var msgs = [];\nif (flow.get('energy_capability')) {\n    msgs.push({payload: '100 kWh'}); // Placeholder\n} else {\n    msgs.push({payload: ''});\n}\nif (flow.get('temperature_capability')) {\n    msgs.push({payload: '25°C'}); // Placeholder\n} else {\n    msgs.push({payload: ''});\n}\nreturn [msgs[0], msgs[1]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fcdc0ef2b6f63949",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Save Modbus Type",
        "func": "flow.set('modbus_type', msg.payload);\nmsg.modbus_type = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "aa0509537e07b2f2"
            ]
        ]
    },
    {
        "id": "26e4fad3c7d4c0dc",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Save Modbus Config",
        "func": "if (msg.payload && msg.payload.type === \"RTU\") {\n\n    const puertoDesdeScan = (global.get(\"modbus_rtu_config\") || {}).serialPort;\n    const puerto = msg.payload.port || puertoDesdeScan || \"/dev/ttyACM0\";\n\n    const rawSlaves = (msg.payload.slave_id || \"1\").toString().trim();\n    const slaveIds = rawSlaves\n        .split(\",\")\n        .map(s => parseInt(s.trim(), 10))\n        .filter(n => !isNaN(n) && n >= 1 && n <= 247);\n\n    if (slaveIds.length === 0) slaveIds.push(1);\n\n    const cfg = {\n        connectorType:  \"serial\",\n        serialPort:     puerto,\n        serialBaudrate: Number(msg.payload.baud) || 9600,\n        serialParity:   msg.payload.parity || \"none\",\n        serialDatabits: Number(msg.payload.data_bits) || 8,\n        serialStopbits: Number(msg.payload.stop_bits) || 1,\n        fc:       Number(msg.payload.fc) || 4,\n        slaveIds: slaveIds,\n        address:  Number(msg.payload.address) || 0,\n        quantity: Number(msg.payload.quantity) || 10\n    };\n\n    global.set(\"modbus_rtu_config\", cfg);\n\n    const connectorPayload = {\n        connectorType:  \"serial\",\n        serialPort:     cfg.serialPort,\n        serialBaudrate: cfg.serialBaudrate,\n        serialDatabits: cfg.serialDatabits,\n        serialStopbits: cfg.serialStopbits,\n        serialParity:   cfg.serialParity,\n        serialType:     \"RTU-BUFFERED\"\n    };\n\n    node.status({fill:\"green\", shape:\"dot\", text:\"RTU OK → \" + cfg.serialPort + \" @ \" + cfg.serialBaudrate + \" | Slaves: \" + slaveIds.join(\",\")});\n    node.warn(\"Config Modbus guardada:\");\n    node.warn(cfg);\n\n    return [{ payload: connectorPayload }, { payload: {} }];\n\n} else {\n    node.warn(\"Payload no es config RTU válida: \" + JSON.stringify(msg.payload));\n    node.status({fill:\"grey\", shape:\"ring\", text:\"No RTU\"});\n    return null;\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "9a824bbed9aeaa0b"
            ],
            [
                "12f059f4a03788a3"
            ]
        ]
    },
    {
        "id": "b5d60fe86d81ef79",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug desde template",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "3044cb7b8e4fae45",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug desde flex connector",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 480,
        "wires": []
    },
    {
        "id": "6deb5f912f6cd0ac",
        "type": "status",
        "z": "f61bd11993a4568c",
        "name": "Status Modbus",
        "scope": [
            "9a824bbed9aeaa0b"
        ],
        "x": 100,
        "y": 880,
        "wires": [
            [
                "476e6ee7af9a6832"
            ]
        ]
    },
    {
        "id": "476e6ee7af9a6832",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Obtener estado modbus",
        "func": "let textoOriginal = msg.status?.text || \"desconocido\";\nlet mensaje = textoOriginal;\nlet color = \"grey\";\n\n// Mapeo de estados comunes del modbus-flex-connector\nswitch (textoOriginal.toLowerCase()) {\n    case \"connected\":\n    case \"active\":\n        mensaje = \"Conectado\";\n        color = \"green\";\n        break;\n    case \"connecting\":\n    case \"reconnecting\":\n        mensaje = \"Conectando...\";\n        color = \"orange\";\n        break;\n    case \"disconnected\":\n    case \"failed\":\n    case \"error\":\n        mensaje = \"Error / Desconectado\";\n        color = \"red\";\n        break;\n    default:\n        mensaje = textoOriginal;\n        color = \"grey\";\n}\n\n// Guardar global para uso en otros nodos si necesitas\nglobal.set(\"conexionModbus\", { texto: mensaje, color: color, original: textoOriginal });\n\n// Preparar para el dashboard\nmsg.payload = mensaje;\nmsg.color = color;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 880,
        "wires": [
            [
                "e999c9a0f2a46c5d"
            ]
        ]
    },
    {
        "id": "b334636561effe40",
        "type": "inject",
        "z": "f61bd11993a4568c",
        "name": "Trigger Lectura cada 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "6ad0481bde48a4a5",
                "de462faeb2aee38c"
            ]
        ]
    },
    {
        "id": "73c412169ffd3ce0",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Preparar Lectura Modbus",
        "func": "const cfg = global.get(\"modbus_rtu_config\") || {};\n\nif (!cfg.serialPort) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Esperando config...\"});\n    return null;\n}\n\nconst slaveIds = cfg.slaveIds && cfg.slaveIds.length > 0 ? cfg.slaveIds : [cfg.unitId || 1];\n\nconst msgs = slaveIds.map(id => ({\n    payload: {\n        fc:       cfg.fc || 4,\n        unitid:   id,\n        address:  cfg.address || 0,\n        quantity: cfg.quantity || 10\n    }\n}));\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"FC\" + (cfg.fc||4) + \" → Slaves [\" + slaveIds.join(\",\") + \"] @ \" + cfg.serialPort});\nreturn [msgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 600,
        "wires": [
            [
                "eb5b13d0fd22e14f",
                "d990ab13ae60d860"
            ]
        ]
    },
    {
        "id": "9c6ba4de4d790bc8",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Formatear Datos Crudos",
        "func": "if (!msg.payload || !Array.isArray(msg.payload) || msg.payload.length < 10) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Sin datos válidos\"});\n    return null;\n}\n\nconst deviceId = global.get(\"dispositivoId\") || null;\nif (!deviceId) {\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Falta ID dispositivo\"});\n    return null;\n}\n\nconst cfg      = global.get(\"modbus_rtu_config\") || {};\nconst data     = msg.payload;\nconst slaveIds = cfg.slaveIds && cfg.slaveIds.length > 0 ? cfg.slaveIds : [1];\n\nconst slaveId = (msg.modbusRequest && msg.modbusRequest.unitid)\n             || (msg.payload && msg.payload.unitid)\n             || slaveIds[0]\n             || 1;\n\nlet acumulado = global.get(\"lecturas_chillers\") || {};\n\nconst isEnergy      = slaveId >= 1  && slaveId <= 9;\nconst isTemperature = slaveId >= 10 && slaveId <= 30;\n\nif (isEnergy) {\n    const power     = ((data[4] << 16) | data[3]) / 10.0;\n    const energy_wh = (data[6] << 16) | data[5];\n    acumulado[slaveId] = {\n        tipo:       \"energy\",\n        power:      parseFloat(power.toFixed(2)),\n        energy_kwh: parseFloat((energy_wh / 1000).toFixed(3))\n    };\n} else if (isTemperature) {\n    const temp = data[0] / 10.0;\n    acumulado[slaveId] = {\n        tipo:  \"temperature\",\n        value: parseFloat(temp.toFixed(2))\n    };\n} else {\n    acumulado[slaveId] = { tipo: \"unknown\" };\n}\n\nglobal.set(\"lecturas_chillers\", acumulado);\n\nconst todosPresentes = slaveIds.every(id => acumulado[id] !== undefined);\nif (!todosPresentes) {\n    const pendientes = slaveIds.filter(id => !acumulado[id]).join(\",\");\n    node.status({fill:\"blue\", shape:\"dot\", text:\"Slave \" + slaveId + \" OK | Pending: \" + pendientes});\n    return null;\n}\n\n// ── Build payload ─────────────────────────────────────────────────────────────\nconst energyObj = {};\nconst powerObj  = {};\nconst tempObj   = {};\nlet pointE = 1, pointT = 1;\n\nslaveIds.forEach(id => {\n    const entry = acumulado[id];\n    if (!entry) return;\n    if (entry.tipo === \"energy\") {\n        energyObj[\"point\" + pointE] = entry.energy_kwh;\n        powerObj[\"point\"  + pointE] = entry.power;\n        pointE++;\n    } else if (entry.tipo === \"temperature\") {\n        tempObj[\"point\" + pointT] = entry.value;\n        pointT++;\n    }\n});\n\nif (Object.keys(energyObj).length === 0) { energyObj[\"point1\"] = \"NO VALUE\"; powerObj[\"point1\"] = \"NO VALUE\"; }\nif (Object.keys(tempObj).length === 0)   { tempObj[\"point1\"]   = \"NO VALUE\"; }\n\nglobal.set(\"lecturas_chillers\", {});\n\nmsg.topic   = `NanoFreeze/${deviceId}/datos_chillers`;\nmsg.payload = {\n    timestamp:   new Date().toISOString(),\n    temperature: tempObj,\n    energy:      energyObj,\n    power:       powerObj\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text:deviceId + \" → \" + (pointE-1) + \" energy, \" + (pointT-1) + \" temp\"});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "a7e7aec1b24b2d9a",
                "8a034e08b1659d45"
            ]
        ]
    },
    {
        "id": "c3d11b60340e43b9",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Procesar respuesta DB",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    let row = msg.payload[0];  // Primera fila (debería ser única por device_code)\n\n    // Enviar a los textos\n    let nameMsg = { payload: row.name || \"No encontrado\" };\n    let statusMsg = { payload: row.status || \"Desconocido\" };\n\n    // Enviar a switches (true/false como booleano)\n    let energyMsg = { topic: \"energy_capability\", payload: !!row.energy_capability };\n    let tempMsg = { topic: \"temperature_capability\", payload: !!row.temperature_capability };\n\n    node.status({fill: \"green\", shape: \"dot\", text: \"Device encontrado\"});\n\n    return [nameMsg, statusMsg, energyMsg, tempMsg];\n} else {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"Device no encontrado\"});\n\n    return [\n        { payload: \"No encontrado\" },   // name\n        { payload: \"No encontrado\" },   // status\n        { topic: \"energy_capability\", payload: false },\n        { topic: \"temperature_capability\", payload: false }\n    ];\n}",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 60,
        "wires": [
            [
                "fd913e215da52fd0"
            ],
            [
                "3cba6b8f46b746e6"
            ],
            [
                "ad069ba5ad4db88f"
            ],
            [
                "baa71ea05a9b3279"
            ]
        ]
    },
    {
        "id": "bb57e978c9a1829e",
        "type": "change",
        "z": "f61bd11993a4568c",
        "name": "Obtener ID",
        "rules": [
            {
                "t": "set",
                "p": "dispositivoId",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "ebbce0624dd7d08a",
                "f9957b0f647fd994"
            ]
        ]
    },
    {
        "id": "f9957b0f647fd994",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "Obtener ID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "a3dcc0a8b173876f",
        "type": "inject",
        "z": "f61bd11993a4568c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PRUEBA-123",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "bb57e978c9a1829e"
            ]
        ]
    },
    {
        "id": "75978cd47fc75ea8",
        "type": "mqtt out",
        "z": "f61bd11993a4568c",
        "name": "Subir a IoT Core",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "298b7e953ed62ce1",
        "x": 1880,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a2e2c284c63332a",
        "type": "status",
        "z": "f61bd11993a4568c",
        "name": "Status MQTT",
        "scope": [
            "75978cd47fc75ea8"
        ],
        "x": 490,
        "y": 780,
        "wires": [
            [
                "95432b1ea3fb1855",
                "6c0a8285f1d7cc0e"
            ]
        ]
    },
    {
        "id": "95432b1ea3fb1855",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Obtener estado MQTT",
        "func": "let textoOriginal = msg.status?.text || \"desconocido\";\nlet mensaje = \"Desconocido\";\nlet color = \"grey\";\n\n// Mapeo de claves comunes de estado MQTT (i18n)\nswitch (textoOriginal.toLowerCase()) {\n    case \"node-red:common.status.connected\":\n        mensaje = \"Conectado\";\n        color = \"green\";\n        break;\n\n    case \"node-red:common.status.connecting\":\n    case \"node-red:common.status.reconnecting\":\n        mensaje = \"Conectando...\";\n        color = \"orange\";\n        break;\n\n    case \"node-red:common.status.disconnected\":\n        mensaje = \"Desconocido\";\n        color = \"red\";\n        break;\n\n    default:\n        if (textoOriginal.toLowerCase().includes(\"error\") || \n            textoOriginal.toLowerCase().includes(\"failed\") || \n            textoOriginal.toLowerCase().includes(\"refused\")) {\n            mensaje = \"Error de conexión\";\n            color = \"red\";\n        } else {\n            mensaje = textoOriginal;\n            color = \"grey\";\n        }\n}\n\n// Guardamos el estado para el dashboard y el router\nglobal.set(\"conexionMQTT\", { \n    texto: mensaje, \n    color: color, \n    original: textoOriginal \n});\n\n// ────────────────────────────────────────────────\n//           DETECTAR RECONEXIÓN\n// ────────────────────────────────────────────────\nconst estadoAnterior = flow.get(\"mqtt_estado_anterior\") || \"desconectado\";\nconst estadoActual = textoOriginal.toLowerCase();\n\nflow.set(\"mqtt_estado_anterior\", estadoActual);\n\n// Solo cuando PASA A CONECTADO\nlet dispararBuffer = false;\nif (estadoActual.includes(\"connected\") && !estadoAnterior.includes(\"connected\")) {\n    dispararBuffer = true;\n    node.status({fill:\"blue\", shape:\"ring\", text:\"Reconectado → enviando buffer\"});\n}\n\n// Guardamos también mqtt_online (para compatibilidad con tu router actual)\nglobal.set(\"mqtt_online\", mensaje === \"Conectado\");\n\n// Salidas:\n// 1 = para dashboard (siempre)\n// 2 = para disparar lectura de buffer (solo al reconectar)\nreturn [\n    { payload: mensaje, color: color },           // salida 1 → dashboard\n    dispararBuffer ? { topic: `\n        SELECT id, uuid, payload, intentos\n        FROM buffer_iot\n        WHERE enviado = 0\n        ORDER BY id ASC\n        LIMIT 1\n    ` } : null                                      // salida 2 → sqlite leer pendiente\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "7a05d636623368a7"
            ],
            [
                "944f8a7d769caea8"
            ]
        ]
    },
    {
        "id": "a7e7aec1b24b2d9a",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Router Online/Offline",
        "func": "let online = global.get(\"mqtt_online\") || false;\n\nnode.warn(\"TOPIC: \" + msg.topic);\nnode.warn(\"PAYLOAD: \" + JSON.stringify(msg.payload, null, 2));\nnode.warn(\"online: \" + online);\n\nif (online) {\n    node.warn(\"ENVIANDO POR SALIDA 1\");\n    // Guardar copia del mensaje en flow context para comparar\n    flow.set(\"ultimo_mensaje_enviado\", {\n        timestamp: Date.now(),\n        topic: msg.topic,\n        payload: JSON.parse(JSON.stringify(msg.payload))\n    });\n    return [msg, null];\n} else {\n    node.warn(\"GUARDANDO EN BUFFER\");\n    msg.topic = \"INSERT INTO buffer_iot (uuid, payload) VALUES (?, ?)\";\n    msg.payload = [\n        Date.now().toString(),\n        JSON.stringify(msg.payload)\n    ];\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 640,
        "wires": [
            [
                "75978cd47fc75ea8",
                "d2589b84b6b03db9"
            ],
            [
                "a991ba352c237aa8"
            ]
        ]
    },
    {
        "id": "a991ba352c237aa8",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Preparar INSERT",
        "func": "if (!msg.responseBuffer || !msg.responseBuffer.data) {\n    return null;\n}\n\nconst data = {\n    timestamp: new Date().toISOString(),\n    deviceId: \"DEV-10-1\",\n    registro1: msg.responseBuffer.data[0] || 0,\n    registro2: msg.responseBuffer.data[1] || 0,\n    registro3: msg.responseBuffer.data[2] || 0,\n    registro4: msg.responseBuffer.data[3] || 0\n};\n\nconst uuid = Date.now().toString();\nconst json = JSON.stringify(data).replace(/'/g, \"''\");\n\nmsg.topic = `\nINSERT INTO buffer_iot (uuid, payload)\nVALUES ('${uuid}', '${json}')\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 700,
        "wires": [
            [
                "b07b670f8dadbb8e",
                "b4089374a03378fb"
            ]
        ]
    },
    {
        "id": "944f8a7d769caea8",
        "type": "link out",
        "z": "f61bd11993a4568c",
        "name": "Link → Buffer",
        "mode": "link",
        "links": [
            "f815caf97cd3f4b4"
        ],
        "x": 955,
        "y": 880,
        "wires": []
    },
    {
        "id": "d2589b84b6b03db9",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Router Online/Offline",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2100,
        "y": 600,
        "wires": []
    },
    {
        "id": "6c0a8285f1d7cc0e",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Status MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "b4089374a03378fb",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Preparar INSERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 680,
        "wires": []
    },
    {
        "id": "de462faeb2aee38c",
        "type": "switch",
        "z": "f61bd11993a4568c",
        "name": "Funciones",
        "property": "procesamiento_activo",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "73c412169ffd3ce0"
            ],
            [
                "828efa860de7ace7"
            ]
        ]
    },
    {
        "id": "828efa860de7ace7",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Funciones (UI)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "6ad0481bde48a4a5",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Trigger",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 700,
        "wires": []
    },
    {
        "id": "d990ab13ae60d860",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Preparar Lectura Modbus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "a19a5f05eab512ec",
        "type": "ui_dropdown",
        "z": "f61bd11993a4568c",
        "name": "",
        "label": "Tipo Modbus",
        "tooltip": "",
        "place": "Seleccione tipo",
        "group": "modbus_config_group_id",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "TCP",
                "value": "TCP",
                "type": "str"
            },
            {
                "label": "RTU",
                "value": "RTU",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "modbus_type",
        "topicType": "str",
        "className": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "fcdc0ef2b6f63949"
            ]
        ]
    },
    {
        "id": "3facebca151f8b05",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "Conexion Modbus",
        "group": "dee1869cf73040de",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Conexion Modbus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings_ethernet",
        "payload": "{\"group\":{\"hide\":[\"NanoFreeze_Información\",\"NanoFreeze_Funciones\",\"NanoFreeze_MQTT\"],\"show\":[\"NanoFreeze_Configuraciones\",\"NanoFreeze_Modbus\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 980,
        "wires": [
            [
                "370a333b2a23f37b"
            ]
        ]
    },
    {
        "id": "bdaa8029244e827f",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "Conexion Nube",
        "group": "dee1869cf73040de",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Conexion Nube",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "cloud",
        "payload": "{\"group\":{\"hide\":[\"NanoFreeze_Información\",\"NanoFreeze_Funciones\",\"NanoFreeze_Modbus\"],\"show\":[\"NanoFreeze_Configuraciones\",\"NanoFreeze_MQTT\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1060,
        "wires": [
            [
                "370a333b2a23f37b"
            ]
        ]
    },
    {
        "id": "fcecf7cee2b8873b",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "Configuracion IoT",
        "group": "dee1869cf73040de",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Configuracion IoT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"hide\":[\"NanoFreeze_MQTT\",\"NanoFreeze_Funciones\",\"NanoFreeze_Modbus\"],\"show\":[\"NanoFreeze_Configuraciones\",\"NanoFreeze_Información\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "370a333b2a23f37b"
            ]
        ]
    },
    {
        "id": "a37d1f9507c36a65",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "Activacion IoT",
        "group": "dee1869cf73040de",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activacion IoT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "{\"group\":{\"hide\":[\"NanoFreeze_MQTT\",\"NanoFreeze_Información\",\"NanoFreeze_Modbus\"],\"show\":[\"NanoFreeze_Configuraciones\",\"NanoFreeze_Funciones\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "370a333b2a23f37b"
            ]
        ]
    },
    {
        "id": "2e3ba658fdacf1bb",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "",
        "group": "dee1869cf73040de",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refrescar dashboard",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "{\"group\":{\"hide\":[\"NanoFreeze_MQTT\",\"NanoFreeze_Información\",\"NanoFreeze_Modbus\",\"NanoFreeze_Funciones\"],\"show\":[\"NanoFreeze_Configuraciones\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 1240,
        "wires": [
            [
                "370a333b2a23f37b"
            ]
        ]
    },
    {
        "id": "ad069ba5ad4db88f",
        "type": "ui_switch",
        "z": "f61bd11993a4568c",
        "name": "",
        "label": "Capacidad energética",
        "tooltip": "",
        "group": "identificacion_group_id",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "energy_capability",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "0c6b28a448ad8d46"
            ]
        ]
    },
    {
        "id": "baa71ea05a9b3279",
        "type": "ui_switch",
        "z": "f61bd11993a4568c",
        "name": "",
        "label": "Capacidad de temperatura",
        "tooltip": "",
        "group": "identificacion_group_id",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "temperature_capability",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "0c6b28a448ad8d46"
            ]
        ]
    },
    {
        "id": "1f1a2cdf069d0cb9",
        "type": "ui_text_input",
        "z": "f61bd11993a4568c",
        "name": "",
        "label": "ID Dispositivo",
        "tooltip": "Ingrese ID y verifique en DB",
        "group": "identificacion_group_id",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "id_device",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "bb57e978c9a1829e"
            ]
        ]
    },
    {
        "id": "fd913e215da52fd0",
        "type": "ui_text",
        "z": "f61bd11993a4568c",
        "group": "identificacion_group_id",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre del Dispositivo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1370,
        "y": 40,
        "wires": []
    },
    {
        "id": "3cba6b8f46b746e6",
        "type": "ui_text",
        "z": "f61bd11993a4568c",
        "group": "identificacion_group_id",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": "",
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1400,
        "y": 80,
        "wires": []
    },
    {
        "id": "370a333b2a23f37b",
        "type": "ui_ui_control",
        "z": "f61bd11993a4568c",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "e999c9a0f2a46c5d",
        "type": "ui_template",
        "z": "f61bd11993a4568c",
        "group": "modbus_config_group_id",
        "name": "Estado de la conexion",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size:18px;font-weight:bold;padding:12px;border-radius:6px;background:#f8f9fa;text-align:center;\">\n    <span style=\"color: {{msg.color}};\">Estado Modbus: {{msg.payload}}</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0509537e07b2f2",
        "type": "ui_template",
        "z": "f61bd11993a4568c",
        "group": "modbus_config_group_id",
        "name": "Modbus Fields",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"column\" ng-if=\"msg.modbus_type === 'RTU'\">\n\n    <md-input-container class=\"md-block\">\n        <label>Baud Rate</label>\n        <md-select ng-model=\"item.rtu_baud\">\n            <md-option value=\"9600\">9600</md-option>\n            <md-option value=\"19200\">19200</md-option>\n            <md-option value=\"38400\">38400</md-option>\n            <md-option value=\"57600\">57600</md-option>\n            <md-option value=\"115200\">115200</md-option>\n        </md-select>\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Slave ID</label>\n        <input ng-model=\"item.rtu_slave_id\" type=\"text\" placeholder=\"Ej: 1 o 1,2,3\">\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Parity</label>\n        <md-select ng-model=\"item.rtu_parity\">\n            <md-option value=\"none\">None</md-option>\n            <md-option value=\"even\">Even</md-option>\n            <md-option value=\"odd\">Odd</md-option>\n        </md-select>\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Data Bits</label>\n        <md-select ng-model=\"item.rtu_data_bits\">\n            <md-option value=\"8\">8</md-option>\n            <md-option value=\"7\">7</md-option>\n        </md-select>\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Stop Bits</label>\n        <md-select ng-model=\"item.rtu_stop_bits\">\n            <md-option value=\"1\">1</md-option>\n            <md-option value=\"2\">2</md-option>\n        </md-select>\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Dirección Inicial (Address)</label>\n        <input ng-model=\"item.address\" type=\"number\" min=\"0\" placeholder=\"0\">\n    </md-input-container>\n\n    <md-input-container class=\"md-block\">\n        <label>Cantidad de Registros</label>\n        <input ng-model=\"item.quantity\" type=\"number\" min=\"1\" max=\"125\" placeholder=\"10\">\n    </md-input-container>\n\n    <md-button class=\"md-raised md-primary\" ng-click=\"send({\n        payload: {\n            type: 'RTU',\n            baud: item.rtu_baud,\n            slave_id: item.rtu_slave_id,\n            parity: item.rtu_parity,\n            data_bits: item.rtu_data_bits,\n            stop_bits: item.rtu_stop_bits,\n            address: item.address,\n            quantity: item.quantity\n        }\n    })\">\n        Guardar RTU\n    </md-button>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "26e4fad3c7d4c0dc",
                "b5d60fe86d81ef79"
            ]
        ]
    },
    {
        "id": "7a05d636623368a7",
        "type": "ui_template",
        "z": "f61bd11993a4568c",
        "group": "016de6dc82a05fe5",
        "name": "Estado MQTT",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size:18px; font-weight:bold; padding:12px; border-radius:6px; background:#f8f9fa; text-align:center;\">\n    <span style=\"color: {{msg.color}};\">Estado MQTT: {{msg.payload}}</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "eb5b13d0fd22e14f",
        "type": "modbus-flex-getter",
        "z": "f61bd11993a4568c",
        "name": "Leer Datos Crudos",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "269659490639847f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 890,
        "y": 600,
        "wires": [
            [
                "9c6ba4de4d790bc8"
            ],
            []
        ]
    },
    {
        "id": "9a824bbed9aeaa0b",
        "type": "modbus-flex-connector",
        "z": "f61bd11993a4568c",
        "name": "Conector Modbus Dinámico",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "269659490639847f",
        "emptyMsgOnFail": false,
        "configMsgOnChange": true,
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "3044cb7b8e4fae45"
            ]
        ]
    },
    {
        "id": "b07b670f8dadbb8e",
        "type": "sqlite",
        "z": "f61bd11993a4568c",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Buffer",
        "x": 2030,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "10811cce8b61300f",
        "type": "mysql",
        "z": "f61bd11993a4568c",
        "mydb": "1534001d1511dfb8",
        "name": "Conexion DB",
        "x": 790,
        "y": 60,
        "wires": [
            [
                "c3d11b60340e43b9"
            ]
        ]
    },
    {
        "id": "21be5baf63d899ac",
        "type": "inject",
        "z": "f61bd11993a4568c",
        "name": "Escanear puertos al arrancar",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "ca0dab2634baa49b"
            ]
        ]
    },
    {
        "id": "551cc2a2eeea4044",
        "type": "ui_button",
        "z": "f61bd11993a4568c",
        "name": "Escanear puertos",
        "group": "modbus_config_group_id",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Escanear puertos",
        "tooltip": "Detecta los puertos seriales disponibles",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "search",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "ca0dab2634baa49b"
            ]
        ]
    },
    {
        "id": "ca0dab2634baa49b",
        "type": "exec",
        "z": "f61bd11993a4568c",
        "command": "ls /dev/ttyACM* /dev/ttyUSB* /dev/ttyS0 2>/dev/null",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Detectar puertos seriales",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "461fb9142d31a6b4"
            ],
            [],
            []
        ]
    },
    {
        "id": "461fb9142d31a6b4",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Formatear lista de puertos",
        "func": "const puertos = msg.payload\n    .trim()\n    .split(\"\\n\")\n    .filter(p => p.length > 0)\n    .map(p => ({ label: p.trim(), value: p.trim() }));\n\nif (puertos.length === 0) {\n    puertos.push({ label: \"Sin puertos detectados\", value: \"\" });\n}\n\nmsg.payload = puertos;\nmsg.topic = \"options\";\n\nglobal.set(\"puertos_disponibles\", puertos);\nnode.status({fill:\"green\", shape:\"dot\", text: puertos.length + \" puerto(s) detectado(s)\"});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 440,
        "wires": [
            [
                "9a779f07c3e6e4c2",
                "f3e42a14a5414885"
            ]
        ]
    },
    {
        "id": "3fa8506be1830dab",
        "type": "function",
        "z": "f61bd11993a4568c",
        "name": "Guardar puerto seleccionado",
        "func": "if (msg.topic === \"options\") return null;\n\nconst cfg = global.get(\"modbus_rtu_config\") || {};\ncfg.serialPort = msg.payload;\nglobal.set(\"modbus_rtu_config\", cfg);\n\nnode.status({fill:\"blue\", shape:\"dot\", text: \"Puerto: \" + msg.payload});\nnode.warn(\"Puerto guardado: \" + msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9a779f07c3e6e4c2",
        "type": "debug",
        "z": "f61bd11993a4568c",
        "name": "debug Formatear lista de puertos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 440,
        "wires": []
    },
    {
        "id": "f3e42a14a5414885",
        "type": "ui_template",
        "z": "f61bd11993a4568c",
        "group": "modbus_config_group_id",
        "name": "Puerto serial",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<md-input-container class=\"md-block\">\n    <label>Puerto Serial</label>\n    <md-select ng-model=\"item.puerto\" ng-change=\"send({payload: item.puerto, topic: 'rtu_port'})\">\n        <md-option ng-repeat=\"p in msg.payload\" value=\"{{p.value}}\">\n            {{p.label}}\n        </md-option>\n    </md-select>\n</md-input-container>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "3fa8506be1830dab"
            ]
        ]
    },
    {
        "id": "12f059f4a03788a3",
        "type": "delay",
        "z": "f61bd11993a4568c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "73c412169ffd3ce0"
            ]
        ]
    },
    {
        "id": "8a034e08b1659d45",
        "type": "ui_template",
        "z": "f61bd11993a4568c",
        "group": "modbus_config_group_id",
        "name": "Lecturas Sensores",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div ng-if=\"msg.payload\" style=\"font-family: monospace; font-size: 14px; padding: 4px 0;\">\n\n  <!-- POWER -->\n  <div style=\"margin-bottom: 8px;\">\n    <div style=\"font-weight: bold; color: #1976D2; margin-bottom: 2px;\">⚡ Power (kW)</div>\n    <div ng-repeat=\"(key, val) in msg.payload.power\" style=\"display: flex; justify-content: space-between; padding: 2px 8px;\">\n      <span style=\"color: #555;\">{{ key }}</span>\n      <span ng-style=\"{color: val === 'NO VALUE' ? '#aaa' : '#212121'}\"><b>{{ val === 'NO VALUE' ? '— NO VALUE' : val + ' W' }}</b></span>\n    </div>\n  </div>\n\n  <!-- ENERGY -->\n  <div style=\"margin-bottom: 8px;\">\n    <div style=\"font-weight: bold; color: #388E3C; margin-bottom: 2px;\">🔋 Energy (kWh)</div>\n    <div ng-repeat=\"(key, val) in msg.payload.energy\" style=\"display: flex; justify-content: space-between; padding: 2px 8px;\">\n      <span style=\"color: #555;\">{{ key }}</span>\n      <span ng-style=\"{color: val === 'NO VALUE' ? '#aaa' : '#212121'}\"><b>{{ val === 'NO VALUE' ? '— NO VALUE' : val + ' kWh' }}</b></span>\n    </div>\n  </div>\n\n  <!-- TEMPERATURE -->\n  <div style=\"margin-bottom: 4px;\">\n    <div style=\"font-weight: bold; color: #E64A19; margin-bottom: 2px;\">🌡 Temperature (°C)</div>\n    <div ng-repeat=\"(key, val) in msg.payload.temperature\" style=\"display: flex; justify-content: space-between; padding: 2px 8px;\">\n      <span style=\"color: #555;\">{{ key }}</span>\n      <span ng-style=\"{color: val === 'NO VALUE' ? '#aaa' : '#212121'}\"><b>{{ val === 'NO VALUE' ? '— NO VALUE' : val + ' °C' }}</b></span>\n    </div>\n  </div>\n\n  <div style=\"font-size: 11px; color: #999; margin-top: 6px; text-align: right;\">{{ msg.payload.timestamp | date:'HH:mm:ss' }}</div>\n</div>\n\n<div ng-if=\"!msg.payload\" style=\"color: #aaa; font-size: 13px; padding: 8px;\">\n  Waiting for data...\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "29280e06a12e77e2",
        "type": "exec",
        "z": "f2b0b36c76e84ba8",
        "command": "cat /sys/class/net/wlan0/address",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "name": "Obtener MAC",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "7749d75dc63c5443"
            ],
            [],
            []
        ]
    },
    {
        "id": "7749d75dc63c5443",
        "type": "function",
        "z": "f2b0b36c76e84ba8",
        "name": "Formatear MAC",
        "func": "let mac = msg.payload.toString().trim().replace(/:/g,'').toUpperCase();\nflow.set('serial', mac);\nreturn { topic: \"$aws/certificates/create/json\", payload: \"\" };",
        "outputs": 1,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "d65a454722f184bf",
                "da0deafcce10b9e1"
            ]
        ]
    },
    {
        "id": "d65a454722f184bf",
        "type": "mqtt out",
        "z": "f2b0b36c76e84ba8",
        "name": "AWS OUT",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c59a3fef7016c4f",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "398479af195ad7fe",
        "type": "mqtt in",
        "z": "f2b0b36c76e84ba8",
        "name": "Cert Create Accepted",
        "topic": "$aws/certificates/create/json/accepted",
        "qos": "1",
        "datatype": "json",
        "broker": "9c59a3fef7016c4f",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "58c841b8f5ed95fb"
            ]
        ]
    },
    {
        "id": "58c841b8f5ed95fb",
        "type": "function",
        "z": "f2b0b36c76e84ba8",
        "name": "Enviar Provision",
        "func": "flow.set('deviceCert', msg.payload.certificatePem);\nflow.set('deviceKey', msg.payload.privateKey);\n\nlet serial = flow.get('serial');\n\nreturn {\n    topic: \"$aws/provisioning-templates/IbisaTemplate/provision/json\",\n    payload: {\n        certificateOwnershipToken: msg.payload.certificateOwnershipToken,\n        parameters: {\n            SerialNumber: serial\n        }\n    }\n};",
        "outputs": 1,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "d65a454722f184bf",
                "847e0e7cd8b36c1b"
            ]
        ]
    },
    {
        "id": "e950eb98c9aa2bc8",
        "type": "mqtt in",
        "z": "f2b0b36c76e84ba8",
        "name": "Provision Accepted",
        "topic": "$aws/provisioning-templates/IbisaTemplate/provision/json/accepted",
        "qos": "1",
        "datatype": "json",
        "broker": "9c59a3fef7016c4f",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "b2379b53b33dace2"
            ]
        ]
    },
    {
        "id": "b2379b53b33dace2",
        "type": "function",
        "z": "f2b0b36c76e84ba8",
        "name": "Guardar Certificados",
        "func": "let cert = flow.get('deviceCert');\nlet key = flow.get('deviceKey');\nlet thingName = msg.payload.thingName;\n\nreturn [\n    { payload: cert, filename: \"/home/pi/certificados/device.pem.crt\" },\n    { payload: key, filename: \"/home/pi/certificados/device.private.key\" },\n    { payload: thingName, filename: \"/home/pi/certificados/thing-name.txt\" }\n];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "a02d4b54db31c775"
            ],
            [
                "45f88edda918bb37"
            ],
            [
                "1ae1b24790d7a67a"
            ]
        ]
    },
    {
        "id": "da0deafcce10b9e1",
        "type": "debug",
        "z": "f2b0b36c76e84ba8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "847e0e7cd8b36c1b",
        "type": "debug",
        "z": "f2b0b36c76e84ba8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "a02d4b54db31c775",
        "type": "file",
        "z": "f2b0b36c76e84ba8",
        "name": "cert",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "595e118d84bcd32b",
                "ac76b1e9acf357ca"
            ]
        ]
    },
    {
        "id": "45f88edda918bb37",
        "type": "file",
        "z": "f2b0b36c76e84ba8",
        "name": "key",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "54ce0421ebabdb3c",
                "ac76b1e9acf357ca"
            ]
        ]
    },
    {
        "id": "1ae1b24790d7a67a",
        "type": "file",
        "z": "f2b0b36c76e84ba8",
        "name": "thing",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "c78c12f4a0c530c1",
                "ac76b1e9acf357ca"
            ]
        ]
    },
    {
        "id": "595e118d84bcd32b",
        "type": "debug",
        "z": "f2b0b36c76e84ba8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "54ce0421ebabdb3c",
        "type": "debug",
        "z": "f2b0b36c76e84ba8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "c78c12f4a0c530c1",
        "type": "debug",
        "z": "f2b0b36c76e84ba8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf5631925fe98736",
        "type": "exec",
        "z": "f2b0b36c76e84ba8",
        "command": "sudo systemctl restart nodered",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Restart Node-Red",
        "x": 1090,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ac76b1e9acf357ca",
        "type": "delay",
        "z": "f2b0b36c76e84ba8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "cf5631925fe98736"
            ]
        ]
    },
    {
        "id": "fd86c14627e12322",
        "type": "ui_button",
        "z": "f2b0b36c76e84ba8",
        "name": "",
        "group": "016de6dc82a05fe5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Generar certificados",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "none",
        "topicType": "msg",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "29280e06a12e77e2"
            ]
        ]
    },
    {
        "id": "f815caf97cd3f4b4",
        "type": "link in",
        "z": "e5dc152390c72882",
        "name": "Link In: disparar al reconectar",
        "links": [
            "944f8a7d769caea8"
        ],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "e556c53ba62989a5"
            ]
        ]
    },
    {
        "id": "0c062c0a03cbfc06",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Disparar lectura de pendiente",
        "func": "node.warn(\"Reconexión detectada → esperando 4 segundos para estabilizar MQTT\");\nreturn new Promise(resolve => {\n    setTimeout(() => {\n        resolve([{\n            topic: `SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1`\n        }]);\n    }, 4000);\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "98f17048273e4670",
                "c5dc4c06bf812f94"
            ]
        ]
    },
    {
        "id": "aa57548f009dc3a5",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Preparar y enviar pendiente",
        "func": "node.warn(\"Preparar y enviar pendiente - entrada recibida\");\n\nif (msg.payload && Array.isArray(msg.payload) && msg.payload.length > 0) {\n    const row = msg.payload[0];\n    node.warn(\"Pendiente encontrado ID: \" + row.id);\n\n    msg.buffer_id   = row.id;\n    msg.intentos    = row.intentos || 0;\n\n    try {\n        msg.payload = JSON.parse(row.payload);\n    } catch (err) {\n        node.warn(\"Error parseando JSON del buffer → ID \" + row.id + \" → se descarta\");\n        return [null, null, {\n            topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n        }];\n    }\n\n    msg.topic = `NanoFreeze/${msg.payload.deviceId}/Sensores`;\n\n    node.warn(\"Listo para enviar a MQTT:\");\n    node.warn(msg.payload);\n    node.warn(\"MQTT topic: \" + msg.topic);\n    node.warn(\"📤 Enviando a MQTT y a marcar OK\");\n\n    return [msg, msg, null];\n\n} else {\n    node.warn(\"No hay más pendientes. Iniciando limpieza de registros enviados...\");\n\n    return [null, null, {\n        topic: \"DELETE FROM buffer_iot WHERE enviado = 1\",\n        clean_trigger: true,\n        clean_reason: \"buffer_vaciado\"\n    }];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "ed35b27bd99772c5",
                "c6f5c42855e083cd"
            ],
            [
                "df8f1010f25e8306"
            ],
            [
                "13e59481e5f13223"
            ]
        ]
    },
    {
        "id": "ed35b27bd99772c5",
        "type": "mqtt out",
        "z": "e5dc152390c72882",
        "name": "MQTT out",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "298b7e953ed62ce1",
        "x": 1480,
        "y": 120,
        "wires": []
    },
    {
        "id": "df8f1010f25e8306",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Marcar como enviado OK",
        "func": "if (typeof msg.buffer_id === \"undefined\" || isNaN(msg.buffer_id)) {\n    node.warn(\"ABORT: buffer_id inválido o ausente → \" + JSON.stringify(msg.buffer_id));\n    return null;\n}\n\nconst id = Number(msg.buffer_id);     // fuerza a número\nconst intentos = Number(msg.intentos || 0);\n\nif (isNaN(id) || id <= 0) {\n    node.error(\"ID inválido después de conversión: \" + msg.buffer_id);\n    return null;\n}\n\nnode.warn(`Intentando marcar como enviado → ID=${id} (tipo=${typeof id}), intentos=${intentos}`);\n\nmsg.topic = `UPDATE buffer_iot \n             SET enviado = 1, \n                 fecha_envio = CURRENT_TIMESTAMP, \n                 intentos = ${intentos} \n             WHERE id = ${id}`;\nmsg.payload = []; \n\nnode.warn(\"UPDATE preparado → payload: \" + JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 360,
        "wires": [
            [
                "8d74ac5062047c6f",
                "6a9004eecf0da270"
            ]
        ]
    },
    {
        "id": "bdea3cb7c30d7223",
        "type": "catch",
        "z": "e5dc152390c72882",
        "name": "Catch errores MQTT buffer",
        "scope": [
            "ed35b27bd99772c5"
        ],
        "uncaught": false,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "c3f1bca006446f07"
            ]
        ]
    },
    {
        "id": "c3f1bca006446f07",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Manejar fallo de envío",
        "func": "node.warn(\"Fallo al enviar pendiente → ID: \" + (msg.buffer_id || \"desconocido\"));\n\nlet intentos = (msg.intentos || 0) + 1;\n\nif (!msg.buffer_id) {\n    node.warn(\"No hay buffer_id → no se puede actualizar intentos\");\n} else {\n    msg.topic = `UPDATE buffer_iot SET intentos = ? WHERE id = ?`;\n    msg.payload = [intentos, parseInt(msg.buffer_id, 10)];\n}\n\nnode.warn(\"Intentos ahora: \" + intentos + \" → continuamos con el siguiente\");\n\nreturn {\n    topic: `SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1`\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "71e079ab102b07e6",
                "0b292ff3b8024c25"
            ]
        ]
    },
    {
        "id": "d892efba444fd2d9",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "Leer 1 pendiente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "72280760f322f781",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Actualizar buffer ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c6f5c42855e083cd",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Preparar y enviar pendiente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 60,
        "wires": []
    },
    {
        "id": "6a9004eecf0da270",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Marcar como enviado OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "98f17048273e4670",
        "type": "delay",
        "z": "e5dc152390c72882",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "fac2aa525be263dc"
            ]
        ]
    },
    {
        "id": "3474f1680109714b",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Actualizar buffer fallo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 660,
        "wires": []
    },
    {
        "id": "0b292ff3b8024c25",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Manejar fallo de envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "f075c95bb4da41c5",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Continuar lectura pendiente",
        "func": "node.warn(\"Resultado recibido para confirmación:\");\n\nif (!msg.payload || msg.payload.length === 0) {\n    node.warn(\"No hay más pendientes - FIN DEL PROCESO\");\n    return null;\n}\n\nconst row = msg.payload[0];\nnode.warn(`ID encontrado: ${row.id}, intentos: ${row.intentos}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1120,
        "wires": [
            [
                "495f5869a12418c4"
            ]
        ]
    },
    {
        "id": "495f5869a12418c4",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Continuar lectura pendiente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1cd1de2a9b07e10d",
        "type": "delay",
        "z": "e5dc152390c72882",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 1100,
        "wires": [
            [
                "f075c95bb4da41c5"
            ]
        ]
    },
    {
        "id": "1d3d7cf4fa17081a",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Confirmar marcado como enviado",
        "func": "const id = msg.buffer_id;\n\nif (id === undefined) {\n    node.warn(\"❌ buffer_id no presente, abortando\");\n    return null;\n}\n\nnode.warn(`✅ UPDATE ejecutado para ID ${id}, confiando en que fue exitoso`);\n\nreturn {\n    topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a4b19e9f45c2d7b0",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Leer estado enviado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7514193a0a1bb64a",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Verificar registro",
        "func": "const id = msg.buffer_id ? parseInt(msg.buffer_id, 10) : null;\n\nif (!id) {\n    node.warn(\"❌ No hay buffer_id válido para verificar\");\n    return null;\n}\n\nnode.warn(`Verificando ID ${id} (tipo: ${typeof id})`);\n\nif (!msg.payload || msg.payload.length === 0) {\n    node.warn(`❌ No se encontró el ID ${id} en la BD`);\n    \n    return {\n        buffer_id: id,\n        diagnostic: true,\n        topic: \"SELECT id FROM buffer_iot ORDER BY id\"\n    };\n}\n\nconst estado = msg.payload[0].enviado;\nnode.warn(`✅ ID ${id} encontrado, enviado = ${estado}`);\n\nif (estado === 1) {\n    return {\n        topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n    };\n} else {\n    node.warn(`❌ El UPDATE no funcionó, el ID ${id} sigue con enviado = ${estado}`);\n    return {\n        topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n    };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 880,
        "wires": [
            [
                "3eba522a66c7467a",
                "6255daaefad33e18"
            ]
        ]
    },
    {
        "id": "3eba522a66c7467a",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Verificar registro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 960,
        "wires": []
    },
    {
        "id": "5d13069633ca03d0",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "function 3",
        "func": "// Verificar resultado del UPDATE - VERSIÓN CORREGIDA\nnode.warn(\"=== VERIFICACIÓN DE FILAS AFECTADAS ===\");\nnode.warn(`UPDATE para ID ${msg.buffer_id}`);\nnode.warn(`Payload recibido: ${JSON.stringify(msg.payload)}`);\n\n// En node-red-node-sqlite, el resultado a veces tiene propiedad .changes\nif (msg.payload && typeof msg.payload === 'object') {\n    // Intentar obtener el número de filas afectadas\n    const changes = msg.payload.changes || \n                    (msg.payload[0] && msg.payload[0].changes) || \n                    \"desconocido\";\n    \n    node.warn(`Filas afectadas: ${changes}`);\n    \n    if (changes === 0 || changes === \"desconocido\") {\n        node.warn(`⚠️ No se pudo confirmar si el UPDATE afectó filas`);\n        node.warn(`Array vacío = operación completada, pero sin certeza de cambios`);\n    } else {\n        node.warn(`✅ UPDATE exitoso: ${changes} fila(s) modificada(s)`);\n    }\n}\n\n// AHORA LA PARTE IMPORTANTE: Verificar realmente con un SELECT\n// Vamos a hacer una consulta para ver el estado actual del ID 3\nnode.warn(`🔍 Verificando estado real del ID ${msg.buffer_id} en la BD...`);\n\n// Crear mensaje para SELECT de verificación\nlet verifyMsg = {\n    buffer_id: msg.buffer_id,\n    intentos: msg.intentos,\n    topic: \"SELECT enviado FROM buffer_iot WHERE id = ?\",\n    payload: [msg.buffer_id]\n};\n\nreturn verifyMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 880,
        "wires": [
            [
                "72280760f322f781",
                "4c260e9318b79472"
            ]
        ]
    },
    {
        "id": "79c816c9741b39e2",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Registros",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 860,
        "wires": []
    },
    {
        "id": "2bb6a9758b7139c7",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Mostrar resultados",
        "func": "node.warn(\"=== IDs ENCONTRADOS EN LA BD ===\");\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload.forEach(row => {\n        node.warn(`ID: ${row.id} (tipo: ${typeof row.id})`);\n    });\n    \n    const ids = msg.payload.map(row => row.id);\n    node.warn(`IDs disponibles: ${ids.join(', ')}`);\n    \n    const row3 = msg.payload.find(row => row.id === 3);\n    if (row3) {\n        node.warn(`✅ El ID 3 SÍ existe en la BD`);\n        node.warn(`ID 3 es tipo: ${typeof row3.id}, valor: ${row3.id}`);\n        node.warn(`✅ El ID es NUMBER, debería funcionar con número.`);\n    } else {\n        node.warn(`❌ El ID 3 NO existe en la BD`);\n    }\n}\n\nnode.warn(\"🔍 Continuando con la búsqueda del siguiente pendiente...\");\n\nreturn {\n    topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 760,
        "wires": [
            [
                "5148eebfd5cef4a1"
            ]
        ]
    },
    {
        "id": "5148eebfd5cef4a1",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Mostrar resultados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2590,
        "y": 700,
        "wires": []
    },
    {
        "id": "c5dc4c06bf812f94",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Disparar lectura de pendiente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "f26713b72bc0b102",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug test function 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 900,
        "wires": []
    },
    {
        "id": "886a2251867ae9a0",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "function 4",
        "func": "// Analizar verificación del UPDATE\nnode.warn(\"=== RESULTADO DE VERIFICACIÓN ===\");\nnode.warn(`ID: ${msg.buffer_id}`);\n\nif (!msg.payload || msg.payload.length === 0) {\n    node.warn(`❌ ERROR: No se encontró el ID ${msg.buffer_id} en la BD`);\n    return null;\n}\n\nconst estado = msg.payload[0].enviado;\nnode.warn(`Estado actual del ID ${msg.buffer_id}: enviado = ${estado}`);\n\nif (estado === 1) {\n    node.warn(`✅ VERIFICADO: ID ${msg.buffer_id} está marcado como enviado`);\n    // Buscar siguiente pendiente\n    return {\n        topic: \"SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 ORDER BY id ASC LIMIT 1\"\n    };\n} else {\n    node.warn(`❌ PROBLEMA: ID ${msg.buffer_id} sigue con enviado = ${estado}`);\n    node.warn(`El UPDATE NO funcionó - revisar permisos o estructura de la BD`);\n    \n    // Para no quedar en loop infinito, saltar este ID\n    node.warn(`⏩ Saltando ID ${msg.buffer_id} y buscando siguiente...`);\n    return {\n        topic: `SELECT id, uuid, payload, intentos FROM buffer_iot WHERE enviado = 0 AND id > ${msg.buffer_id} ORDER BY id ASC LIMIT 1`\n    };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "0a11119a56ab0ac5",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Trigger siguiente",
        "func": "node.warn(\"UPDATE confirmado → buscando siguiente pendiente\");\n\nreturn {\n    topic: `\n        SELECT id, uuid, payload, intentos \n        FROM buffer_iot \n        WHERE enviado = 0 \n        ORDER BY id ASC \n        LIMIT 1\n    `\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "26cbb814e514dbb1",
                "fac2aa525be263dc"
            ]
        ]
    },
    {
        "id": "26cbb814e514dbb1",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Trigger siguiente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 380,
        "wires": []
    },
    {
        "id": "42625284c9f0694d",
        "type": "function",
        "z": "e5dc152390c72882",
        "name": "Verificar update",
        "func": "// Verificar que el UPDATE realmente ocurrió\nreturn {\n    topic: \"SELECT enviado, intentos, fecha_envio FROM buffer_iot WHERE id = ?\",\n    payload: [Number(msg.buffer_id || 0)]\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "0a11119a56ab0ac5",
                "bf25b8ab272cf5b7"
            ]
        ]
    },
    {
        "id": "bf25b8ab272cf5b7",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Verificar update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 440,
        "wires": []
    },
    {
        "id": "5a075fd1ae088e1f",
        "type": "delay",
        "z": "e5dc152390c72882",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "42625284c9f0694d"
            ]
        ]
    },
    {
        "id": "cddc58dec243c009",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Limpiar buffer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "e556c53ba62989a5",
        "type": "switch",
        "z": "e5dc152390c72882",
        "name": "Funciones",
        "property": "procesamiento_activo",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "0c062c0a03cbfc06"
            ],
            [
                "172aaebb10df6786"
            ]
        ]
    },
    {
        "id": "172aaebb10df6786",
        "type": "debug",
        "z": "e5dc152390c72882",
        "name": "debug Funciones (buffer)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "fac2aa525be263dc",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Leer 1 pendiente",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "aa57548f009dc3a5",
                "d892efba444fd2d9"
            ]
        ]
    },
    {
        "id": "8d74ac5062047c6f",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Actualizar buffer ok",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "5a075fd1ae088e1f"
            ]
        ]
    },
    {
        "id": "71e079ab102b07e6",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Actualizar buffer fallo",
        "x": 860,
        "y": 640,
        "wires": [
            [
                "3474f1680109714b"
            ]
        ]
    },
    {
        "id": "d5f3905140e84ae5",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Leer estado enviado",
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "a4b19e9f45c2d7b0",
                "1cd1de2a9b07e10d"
            ]
        ]
    },
    {
        "id": "6255daaefad33e18",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Registros",
        "x": 2120,
        "y": 840,
        "wires": [
            [
                "79c816c9741b39e2",
                "2bb6a9758b7139c7"
            ]
        ]
    },
    {
        "id": "4c260e9318b79472",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "test function 3",
        "x": 1340,
        "y": 860,
        "wires": [
            [
                "f26713b72bc0b102",
                "886a2251867ae9a0"
            ]
        ]
    },
    {
        "id": "13e59481e5f13223",
        "type": "sqlite",
        "z": "e5dc152390c72882",
        "mydb": "e49a1121dd1bbc8c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Limpiar buffer",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "cddc58dec243c009"
            ]
        ]
    },
    {
        "id": "39ad263aa56cfd21",
        "type": "change",
        "z": "212dea675703e5fc",
        "name": "Control",
        "rules": [
            {
                "t": "set",
                "p": "procesamiento_activo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "bbefc5c3e0c7f4c4"
            ]
        ]
    },
    {
        "id": "5527111638d49075",
        "type": "ui_button",
        "z": "212dea675703e5fc",
        "name": "",
        "group": "datos_group_id",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activar dispositivo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power",
        "payload": true,
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "39ad263aa56cfd21",
                "0760993b173459cb"
            ]
        ]
    },
    {
        "id": "f582d8fb5d00a384",
        "type": "ui_button",
        "z": "212dea675703e5fc",
        "name": "",
        "group": "datos_group_id",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desactivar dispositivo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": false,
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "39ad263aa56cfd21",
                "c6cccb9127a4074c"
            ]
        ]
    },
    {
        "id": "202faaa94221592d",
        "type": "inject",
        "z": "212dea675703e5fc",
        "name": "Inicializar activo por defecto",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "39ad263aa56cfd21"
            ]
        ]
    },
    {
        "id": "0760993b173459cb",
        "type": "debug",
        "z": "212dea675703e5fc",
        "name": "debug Activar dispositivo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "c6cccb9127a4074c",
        "type": "debug",
        "z": "212dea675703e5fc",
        "name": "debug Desctivar dispositivo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "bbefc5c3e0c7f4c4",
        "type": "debug",
        "z": "212dea675703e5fc",
        "name": "debug Control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    }
]